<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahutlesson.android"
    android:versionCode="14"
    android:versionName="1.6" >

    <application
        android:icon="@drawable/calendar"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".WizardActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.WIZARDACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".TimetableViewerActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.TIMETABLEVIEWERACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".LessonActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.LESSONACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".SettingActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.SETTINGACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".TimetableSettingActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.TIMETABLESETTINGACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".ManageDBActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.MANAGEDBACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        <activity
            android:label="@string/app_name"
            android:name=".SettingNoticeActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.SETTINGNOTICEACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".SettingSilentActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.SETTINGSILENTACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".AlarmAlertActivity"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.ALARMALERTACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:label="@string/app_name"
            android:name="com.ahutlesson.android.EditLessonActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter >
                <action android:name="com.ahutlesson.android.EDITLESSONACTIVITY" />
                
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver android:process=":remote" android:name=".receiver.AlarmReceiver"/>
        <receiver android:process=":remote" android:name=".receiver.SoundSilentReceiver"/>
        <receiver android:process=":remote" android:name="com.ahutlesson.android.receiver.SoundNormalReceiver"/>
        
        <meta-data android:value="4f9fa64852701569cd0000e2" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="Default" android:name="UMENG_CHANNEL"/>
        
    </application>
	
    <uses-sdk android:minSdkVersion="8" />
    
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

</manifest>